:root {
  --border-radius: 0.4rem;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;

  font-family: Verdana, Tahoma, sans-serif;
}

main {
  padding: 2rem;
}

.gantt {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: auto;
  width: 100%;
  border: 1px solid black;
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: 2rem;
}
.gantt > * {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-column: 1/-1;
}

.year,
.quarter,
.month {
  text-align: center;
  padding: 0.4rem 0;
  border-right: 1px solid black;
  font-size: 1.2rem;
}
.year:last-child,
.quarter:last-child,
.month:last-child {
  border-right: none;
}

.year {
  background-color: #1d1e2c;
  color: white;
}
.year:nth-child(1) {
  grid-column: 1/13;
}
.year:nth-child(2) {
  grid-column: 13/25;
}

.quarter {
  background-color: #282a3c;
  color: white;
}
.quarter:nth-child(1) {
  grid-column: 1/4;
}
.quarter:nth-child(2) {
  grid-column: 4/7;
}
.quarter:nth-child(3) {
  grid-column: 7/10;
}
.quarter:nth-child(4) {
  grid-column: 10/13;
}
.quarter:nth-child(5) {
  grid-column: 13/16;
}
.quarter:nth-child(6) {
  grid-column: 16/19;
}
.quarter:nth-child(7) {
  grid-column: 19/22;
}
.quarter:nth-child(8) {
  grid-column: 22/25;
}

.month {
  background-color: #1d1e2c;
  color: white;
  grid-column: auto;
}

.row {
  padding: 0.4rem;
}
.row:nth-child(even) {
  background-color: #7b7a95;
}
.row:nth-child(odd) {
  background-color: #bbbacc;
}
.item {
  border-radius: var(--border-radius);
  padding: 0.4rem;
  grid-column: 1/-1;
  background-color: black;
  color: white;
}
